.footer__column-link {
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
    justify-content: start;
    display: flex;
    text-decoration: none;
    color: white;
    }
  
   .footer__column-link:nth-child(2) {
    padding: 10px 0;
   }